@import 'bourbon';

body {
  margin:0;
  padding:0;
  font-family: "Source Sans Pro";
  -webkit-font-smoothing: antialiased;
}


//base
@import 'base/colors';
@import 'base/placeholders';
@import 'base/spinner';
@import 'base/bounce';

//components
@import 'components/header';
@import 'components/footer';
@import 'components/about';
@import 'components/work';
@import 'components/reference';
@import 'components/contact';
@import 'components/form';