.footer {
   background: url("../assets/header.png") center center;
  background-size: cover;
  @include clearfix

  .lockup{
    padding: 50px 30px;
    
    .logo{
      @include size(50px);
      float: left;
      margin-right: 30px;
      margin-bottom: 20px;
      border: $accent solid 2px;
      border-radius: 20%;
      background:{
        image: url("../assets/logo.jpg");
        size: contain;
        position: center;
        repeat:no-repeat;
        }
    }
  
    .content-wraper {
      float: left;

      .copyright {
        margin: 0;
        @extend %small-bold;
        color: #ccc;
      }

      a {
        @extend %small-bold;
        text-decoration: none;
        color: white;
        margin-right: 20px;  
        
        &:hover{
          opacity: 0.8;
        }
      }


    }



  }
  





}