
.header {
  height: 450px;
  background: url("../assets/header.png") center center;
  background-size: cover;

  .logo {
    float: left;
    margin: 10px 0 0 30px;
    border: white solid 1px;
    border-radius: 100%;
    opacity:0.8;
    @include size(100px);
  }
  
  nav {
    float: right;
    margin: 30px 30px 0px 0px;
    a {
      display: inline-block;
      margin-left: 20px;
      color: white;  
      text-decoration: none;
      @extend %small-bold;
      
      &:before {
        content: '';
        display: block;
        margin: auto;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }

      &:hover:before {
        width: 100%;
        background: white;
      }
    
    }
  }

  h1 {
    font:{
      size:72px;
      weight:700;
    }
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.05em;
    text-align: center;
    
    span {
      border : white solid 10px;
      display: inline-block;
      padding: 0.2em 0.5em;
    }
  clear: both; //clearing floating logo and nav
  padding-top: 100px;
  }

  .subtitle {
    text-align: center;
    @extend %small-bold;
    color:white;
    letter-spacing: 0.3em;
    line-height: 1;

  }

}