.ref-lockup {
  position: relative;
  text-align:center;
}

.ref-belt {
  width:100%;
  position: relative;

  .ref-unit {
    max-width: 750px;
    margin: 50px auto;
    //height: 300px;
    position:relative;
    z-index: 1;
    display:none;


    &.active-ref{
      @include display(flex);
      //@extend %bounceOut;
    }

    .ref-face {
      min-width: 300px;
      text-align:center;

      
      img {
        max-width: 100px;
        border-radius:50%;
        padding-bottom:5px;
      }

      a {
        display:block;
        i {
          font-size: 30px;
        }
      }

      .ref-name {
        display:block;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        color:#999;
      }
  
      .ref-title {
        font-style: normal;
        font-size: 12px;
        color:#999;
      }

    }

    .ref-content {
      font-size:18px;
      line-height: 36px;
      font-weight: 300;
      margin-top:-10px;
      position:relative;
      min-height: 300px;
      
      .end {
        z-index:-1;
        @include transform(rotate(90deg));
        @include position(absolute, 80% null null 90%);

      }

      .ion-quote {
        font-size: 70px;
        color : $accent;
        opacity: 0.3  ;
        &.begin {
          @include position(absolute, -10% null  null -3%);
          z-index:-1;
        }
      }

    }

  }
}

.ref-logos {
  position: relative;
  max-width: 750px;
  margin: 0px auto 100px;
  @include display(flex);
  @include align-items(flex-end);
  @include justify-content(space-around);

  .ref-logo{
    max-width: 150px;
    height: 80px;
    z-index: 5;
    cursor: pointer;
    margin: 0 10px;
    border-bottom : 4px solid transparent;
    opacity: 0.5;
    padding-bottom: 10px;

    &.active-ref {
      border-bottom: 4px solid $accent;
      opacity:1;
    }


  }
}

.ref-controls{
  @include clearfix;
  position:absolute;
  width:100%;
  top:40%;
  z-index: 5;
  .ion-chevron-left, .ion-chevron-right {
    font-size:50px;
    opacity: 0.3;
    color:$accent;
    cursor:pointer;
  }
  
  .ion-chevron-left{
    @include position(absolute, 50% null null 30px)
  }

  .ion-chevron-right{
    @include position(absolute, 50% 30px null null)
  }

}

// ref Mobile

.ref-mobile-nav {
  text-align: center;
  cursor:pointer;
  display: none;
  span {
    display:inline-block;
    @include size(16px);
    border-radius:50%;
    border: 2px solid $bgcolor;
    margin: 0px 10px;

    &.active-ref {
      border-color:$accent;
    }
  }
}

@media screen and (max-width:800px){
  .ref-controls{
    display:none;
  }
  
  .ref-belt {

    .ref-unit.active-ref {
      display:block;
      position:relative;
      margin-left:0px;
      left:auto;
      //height:600px;
      
      .ref-face{
        margin-bottom: 20px;
      }

      .ref-content {
        padding:0 30px;
        max-width: 400px;
        margin: 0px auto;
      }
    }
  }

  .ref-mobile-nav {
    display: block;
  }

  .ref-logos {
    display:none;
  }

}


